header{
    display: flex;
    flex-direction: row;
}
.txtHeader{
     font-size: 4.8vw;
    color: #AED6F1;
    margin: auto;
    
}

.fondoImagen{
    background-image: url(../images/pizarra.png);
}

.headImg{
   width: 15%;
    height: auto;
}

.headItems{
    margin-right: auto;
}

footer{
    background-color: cadetblue;
    margin-top: 2%;
    font-size: 12px;
}

.page{
    background-color: white;
}
.imgIdioma{
    width: 35%;
    height: auto;
}