.img{
    height: 350px;
    width: 450px;
    margin: 1%;
}
video {
    height: 350px;
    width: 450px;
}

.container {
    float: left;
    width: 25%;
    padding: 1px;
}

.clearfix::after {
    
    clear: both;
    display: table;
}
.caja{
   
    margin: 2%;
}