body{
    background-color: #E8F8F5;
    
}



.fondoImagen{
    background-image: url(../images/pizarra.png);
}

.txtHeader{
    font-size: 4.8vw;
    color: #AED6F1;
    margin: auto;
    text-align: center;
   
}
.headImg{
    width: 10%;
    height: auto;
}

.init{
    margin-right: 2%;
    border: 1px solid black;
    background-color: #ECEFF1;
}
.header{
    display: table;
}

.educa{
    align-self: stretch;
}
.headItems{
    margin-right: auto;
}

.footer{
  background-color: cadetblue;
  font-size: 12px;
   
}
.page{
    background-color: white;
}
.tresImagenes{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 40%;
    height: auto;
}