body{
    background-color: #E8F8F5;
    padding-left: 6%;
    padding-right: 6%;
}

header{
    display: flex;
    flex-direction: row;
}
.txtHeader{
     font-size: 80px;
    color: #AED6F1;
    margin: auto;
   
    
}
.fondoImagen{
    
    background-image: url(../images/pizarra.png);
}
.headImg{
    width: 180px;
    height: 120px;
   
}

.educa{
    align-self: stretch;
}
.headItems{
    margin-right: auto;
}

footer{
    background-color: cadetblue;
    height: 90px;
    margin-top: 2%;
}
.page{
    background-color: white;
}