
.txtNC{
    margin-right: 12%;
    font-size: 25px;
    padding: 1%;
}
.tres{
    padding: 1%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 2%;
   
}

.flexRom{
    display: flex;
    flex-direction: row;
}

.init{
    margin-right: 2%;
    border: 1px solid black;
    background-color: #ECEFF1;
}
.caja{
    width: 200px;
    margin-right: 55%;
   
}

.cajaTxt{
    padding: 1%;
   box-shadow:0px 4px 3px rgba(0,0,0,.5);
   margin: 1%;
   display: flex;
   flex-direction: row;
   background-color: #ECEFF1;
   
}
.imgCaja{
    padding: 1%;
     width: 100%;
    height: auto;
    
}


* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  margin-top: 0%;
  padding: 15%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}